<h1></h1>

<section id="feed-posts">
  <h4>Posts</h4>
  <form action="/posts/create" method="POST" id="new-post-form">
    <textarea
      name="content"
      id="post-form"
      cols="30"
      rows="5"
      placeholder="What do you want"
    ></textarea>
    <input type="submit" value="Post" />
  </form>

  <div id="post-list-container">
    <ul>
      <% for (post of posts){ %>
      <li>
        <%= post.content %>
      </li>
      <% } %>
    </ul>
  </div>
</section>
